
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link " href="\home" target="__blank">Home</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form (ngSubmit)="Update()" [formGroup]="changePasswordForm">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (Old Password)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="oldPassword">Old Password</label>
                                <input class="form-control" id="oldPassword" type="password"   formControlName="oldPassword">
                                <div class="text-danger" *ngIf="changePasswordForm.controls['oldPassword'].invalid && (isFormSubmitted || changePasswordForm.controls['oldPassword'].touched || changePasswordForm.controls['oldPassword'].dirty)">
                                    <span *ngIf="changePasswordForm.controls['oldPassword'].errors?.['required']">Old Password is requird</span>
                                  </div>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (New Password)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="newPassword">New Password</label>
                                <input class="form-control" id="newPassword" type="password"   formControlName="newPassword">
                                <div class="text-danger" *ngIf="changePasswordForm.controls['newPassword'].invalid && (isFormSubmitted || changePasswordForm.controls['newPassword'].touched || changePasswordForm.controls['newPassword'].dirty)">
                                    <span *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']">New Password is requird</span>
                                  </div>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (Confirm Password)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                                <input class="form-control" id="confirmPassword" type="password"   formControlName="confirmPassword">
                                <div class="text-danger" *ngIf="changePasswordForm.controls['confirmPassword'].invalid && (isFormSubmitted || changePasswordForm.controls['confirmPassword'].touched || changePasswordForm.controls['confirmPassword'].dirty)">
                                    <span *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['required']">Confirm is requird</span>
                                  </div>
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit" >Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

