
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link " href="\home" target="__blank">Home</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form (ngSubmit)="Update()" [formGroup]="profileForm">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (User name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="UserName">User Name</label>
                                <input class="form-control" id="UserName" type="text"   formControlName="UserName">
                                <div class="text-danger" *ngIf="profileForm.controls['UserName'].invalid && (isFormSubmitted || profileForm.controls['UserName'].touched || profileForm.controls['UserName'].dirty)">
                                    <span *ngIf="profileForm.controls['UserName'].errors?.['required']">User Name is requird</span>
                                  </div>
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="PhoneNumber">Phone number</label>
                                <input class="form-control" id="PhoneNumber" type="tel"  formControlName="PhoneNumber">
                                <div class="text-danger" *ngIf="profileForm.controls['PhoneNumber'].invalid && (isFormSubmitted || profileForm.controls['PhoneNumber'].touched || profileForm.controls['PhoneNumber'].dirty)">
                                    <span *ngIf="profileForm.controls['PhoneNumber'].errors?.['pattern']">Invalid phone number</span>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                              <label class="small mb-1" for="ProfileImage">Profile Image</label>
                              <input class="form-control" id="ProfileImage" type="file" (change)="onFileSelected($event)">
                            </div>
                          </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit" >Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
