<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link " href="\home" target="__blank">Home</a>
        <a class="nav-link " href="\booking" target="__blank">Add Booking</a>
        <a class="nav-link active ms-0" href="\addSlot" target="__blank">Add Slot</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Add Slot Details</div>
                <div class="card-body">
                    <form (ngSubmit)="AddSlot()" [formGroup]="slotForm">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (slot name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="SlotName">Slot Name</label>
                                <input class="form-control" id="SlotName" type="text"
                                    formControlName="SlotName">
                                <div class="text-danger"
                                    *ngIf="slotForm.controls['SlotName'].invalid && (isFormSubmitted || slotForm.controls['SlotName'].touched || slotForm.controls['SlotName'].dirty)">
                                    <span *ngIf="slotForm.controls['SlotName'].errors?.['required']">Slot Name is required</span>
                                </div>
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (slot price)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="price">Slot Price per minute</label>
                                <input class="form-control" id="price" type="text"
                                    formControlName="price">
                                <div class="text-danger"
                                    *ngIf="slotForm.controls['price'].invalid && (isFormSubmitted || slotForm.controls['price'].touched || slotForm.controls['price'].dirty)">
                                    <span *ngIf="slotForm.controls['price'].errors?.['required']">Slot price is required</span>
                                </div>
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit" [disabled]="slotForm.invalid">Create Slot</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
