
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="\home" target="__blank">Home</a>
        <a class="nav-link " href="\booking" target="__blank">Add Booking</a>
        <div class="d-flex align-items-center">
        <button class="btn btn-primary me-3" type="button" (click)="signOut()" >SignOut</button>
        </div>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">{{UserName}}</div>

                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="container mt-1">
                        <h3>Your Bookings</h3>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Vehicle Name</th>
                              <th>Booking Slot</th>
                              <th>Start Time</th>
                              <th>End Time</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody class="table-group-divider table-divider-color">
                            <tr *ngFor="let booking of bookings">
                              <td></td>
                              <td>{{ booking.vehicleNumber }}</td>
                              <td>{{ booking.Slot.SlotName }}</td>
                              <td>{{ booking.start_time | date:'short'}}</td>
                              <td>{{ booking.end_time | date:'short'}}</td>
                              <td>{{ booking.status }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>